body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* img slider*/
img.d-block.w-100 {
  height: 35rem;
}


footer{
  grid-area: footer;
  color: #ffffff;
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items:center ;
  padding-bottom: 2rem;
  text-align: center;
  padding-top: 2rem;

}
