body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* img slider*/
img.d-block.w-100 {
  height: 20rem;
}


footer{
  grid-area: footer;
  color: #ffffff;
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items:center ;
  padding-bottom: 2rem;
  text-align: center;
  padding-top: 2rem;

}

/*cart*/
/*.checkout{
  margin-left: 35rem;
  margin-top: -26rem;
  margin-bottom: 10rem;
} */

.cart-close{
  margin-top: 2rem;
/* margin-left: 31px; */
}

.card-body.cart-box {
    
  padding: 0rem ! important; 
}

.footer-class
{
  margin-top: 5rem;
}


/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
  margin-left: 6rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
  border-radius: 5px;
}

/* price button*/
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.product-price button {
  text-align: center;
  /* flex: 1; */
  padding: 10px 80px;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
  margin-top: -25px;
}
.discription h4{
  font-weight: 700;
}

input::after {
  content: ""; 
  /* width: 100px;
  height: 100px; */
}

.search-button input{
  width: 50% !important;
}

.card-deck .img-fluid{
  height: 8rem;
  margin-top: 10px !important;
}
 

.nawbar-cart a.cart {
  display: none;
}